@media (min-width: 1341px) {
  .input-search_account {
    min-width: 400px;
  }

  .select-status_topic {
    min-width: 120px;
  }

  .rangerpicker_topic {
    width: 200px;
  }
}

@media (min-width: 1641px) {
  .input-search_account {
    min-width: 600px;
  }

  .select-status_topic {
    min-width: 100px;
  }

  .rangerpicker_topic {
    min-width: 250px;
  }
}
