.fe-comment {
  margin-left: 15px;
  margin-bottom: 10px;
}

.fe-comment .ant-comment-avatar {
  width: 35px;
  height: 35px;
}

.fe-comment .comment-avatar {
  width: 100%;
  height: 100%;
}

.fe-comment .ant-comment-content-author-name {
  font-weight: bold;
  font-size: 17px;
}

.fe-comment .ant-comment-content-author-time {
  font-size: 15px;
}
