.container-livestream-item {
  height: 200px;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  border: 1.5px #898f8f solid;
  border-radius: 5px;
  box-shadow: 2px 3px #dcdddd;
}
.container-livestream-item .screen-livestream {
  height: 100%;
  width: 40%;
  border-right: 1px #898f8f solid;
  /* overflow: hidden;
  background-size: cover; */
}
.container-livestream-item .screen-livestream video {
  height: 100%;
  width: 100%;
}
.container-livestream-item .infor-livestream {
  height: 100%;
  width: 60%;
  padding-left: 2%;
}
.infor-livestream .title-livestram {
  font-weight: bold;
  font-size: 18px;
  height: 30%;
}
.infor-livestream .create-at-livestream {
  height: 10%;
}
.infor-livestream .infor-detail-livestream {
  height: 60%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.infor-detail-livestream .item-small-livestream {
  margin-bottom: 10px;
  color: #095cd9;
  font-weight: bold;
  font-size: 17px;
}
.item-icon {
  margin-right: 7px;
}
