@media (min-width: 1341px) {
  .search-product {
    min-width: 200px;
  }

  .select-category {
    min-width: 150px;
  }

  .select-status-category {
    min-width: 150px;
  }

  .select-shop-category {
    min-width: 150px;
  }

  .select-store-category {
    min-width: 150px;
  }
}

@media (min-width: 1641px) {
  .search-product {
    min-width: 400px;
  }

  .select-category {
    min-width: 180px;
  }

  .select-status-category {
    min-width: 180px;
  }

  .select-shop-category {
    min-width: 180px;
  }

  .select-store-category {
    min-width: 180px;
  }
}
