@media (min-width: 868px) {
  .search-post {
    width: 280px;
  }
  .topic-post {
    width: 150px;
  }
  .status-post {
    width: 180px;
  }
}

@media (max-width: 820px) {
  .topic-post {
    width: 80px;
  }
  .status-post {
    width: 80px;
  }
}
