.container-add-product {
  background-color: white;
  margin: 5px 10px 15px;
  border-radius: 10px;
}
.collapse-product {
  background-color: #dacdcd;
  border-radius: 10px;
  border: white;
}
.ant-collapse > .ant-collapse-item:last-child,
.ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
  /* color: white; */
}
#label-product {
  margin-right: 15px;
  width: 33%;
}
.custom-row {
  margin-top: 10px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container .ant-upload-picture-card-wrapper {
  display: flex;
  width: auto;
}

/*test*/
.ant-form-item-control-input-content {
  display: flex;
  /* justify-content: start; */
  /* flex-wrap: wrap; */
}
.ant-upload-picture-card-wrapper {
  width: auto;
}

.data-table .ant-table-tbody tr td,
.data-table .ant-table tfoot tr th,
.data-table s.ant-table tfoot tr td {
  position: relative;
  padding: 3px 3px;
  overflow-wrap: break-word;
}
#text-area-product {
  height: 300px;
}
