@media (min-width: 1341px) {
  .input-search_order {
    min-width: 300px;
  }

  .select-status_order {
    min-width: 120px;
  }
  .select-store_order {
    min-width: 150px;
  }
  .rangerpicker-order {
    width: 210px;
  }
}
@media (min-width: 1490px) {
  .input-search_order {
    min-width: 400px;
  }
  .input-search_order {
    min-width: 400px;
  }

  .select-status_order {
    min-width: 200px;
  }

  .select-status_order {
    min-width: 200px;
  }
}

@media (min-width: 1758px) {
  .input-search_order {
    min-width: 600px;
  }

  .input-search_order {
    min-width: 600px;
  }

  .select-status_order {
    min-width: 250px;
  }

  .select-status_order {
    min-width: 250px;
  }
}
